### C++ ###
*.out
*.o

### Python ###
__pycache__/
*.py[cod]
*$py.class

### VSCode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.history

### Doxygen ###
c++/docs/html/*
c++/docs/latex/*

